<%- include('../partials/head') %>


    <link rel="stylesheet" href="/css/books.css" />

    <main class="container">
      <section class="search-box">
  <h2>Rechercher un livre</h2>

  <form method="GET" action="/books">
    <input 
      type="search" 
      name="search" 
      placeholder="Titre, auteur, ISBN..." 
      value="<%= locals.searchQuery || '' %>"
    />

    <div class="filters">
      <select id="genreSelect">
        <option value="">Genre</option>
      </select>

      <select id="yearSelect">
        <option value="">Année</option>
      </select>
    </div>

    <button type="submit">Rechercher</button>
  </form>
</section>
 
      <section class="books">
        <% books.forEach(article => { %>
  <div class="book-card">
    <a href="/books/<%= article.id %>">
      <h1 class="article__title"><%= article.title %></h1>
    </a>

    <a class="cover" href="/books/<%= article.id %>">
      <img src="<%= article.coverUrl %>" alt="image du livre <%= article.title %>">
    </a>

    <div class="description">
      <%= ((article.summary || "").slice(0, 150)) %>...
    </div>

    <% if (locals.user?.isAuthenticated) { %>
      <% if (article.isInLibrary) { %>
        <form action="/library/remove" method="POST">
          <input type="hidden" name="articleId" value="<%= article.id %>">
          <button class="add-btn" type="submit">Retirer de la bibliothèque</button>
        </form>
      <% } else { %>
        <form action="/library/add" method="POST">
          <input type="hidden" name="articleId" value="<%= article.id %>">
          <button class="add-btn" type="submit">Ajouter à ma bibliothèque</button>
        </form>
      <% } %>
    <% } %>

  </div>
<% }) %>

      </section>
    </main>

<%- include('../partials/foot') %>