<%- include('../partials/head') %>


    <link rel="stylesheet" href="/css/books.css" />

    <main class="container">
      <section class="search-box">
  <h2>Rechercher un livre</h2>

  <form method="GET" action="/books">
    <input
      type="text"
      name="search"
      placeholder="Titre, auteur, ISBN..."
      value="<%= search || '' %>"
    />

    <div class="filters">
      <select id="genreSelect" name="category">
        <option value="">Genre</option>
      </select>

      <select id="yearSelect" name="year">
        <option value="">Année</option>
      </select>
    </div>

    <button type="submit">Rechercher</button>
  </form>
</section>



      <section class="books">
        <% books.forEach(article => { %>
        <div class="book-card">
          <a href="/books/<%= article.id %>"><h1 class="article__title"><%= article.title %></h1></a>
          <a class="cover" href="/books/<%= article.id %>">
        <img src="<%= article.coverUrl %>" alt="image du livre <%= article.title %>"></a>
          <div class="description">
            <% const s = article.summary || "" %>
              <%= ((article.summary || "").slice(0, 150)) %>...
          </div>
          <button class="add-btn" aria-label="Ajouter à ma bibliothèque">
            Ajouter à ma bibliothèque
          </button>
        </div>
        <% }) %>
      </section>
    </main>

<%- include('../partials/foot') %>