<%- include('../partials/head') %>


    <link rel="stylesheet" href="/css/book.css" />

<main class="container">
      <section class="book">
        <article class="book-card">
          <div class="isbn-badge">
            <strong>ISBN:</strong> <%= book.isbn %>
          </div>

          <div class="cover">
            <img
              class="book-cover"
              src="<%= book.coverUrl %>"
              alt="<%= book.title %>"
            />
          </div>

          <div class="book-details">
            <h1 class="title"><%= book.title %></h1>

          <div class="data">

  <p>
    <strong>Auteur :</strong>
    <a class="book__author" href="/books?author=<%= encodeURIComponent(book.author) %>">
      <%= book.author %>
    </a>
  </p>

  <p>
    <strong>Date de publication :</strong>
    <%= book.publication_date.toLocaleDateString("fr-FR") %>
  </p>

  <p>
    <strong>Genre :</strong>
    <a
      href="/books?category=<%= encodeURIComponent(book.category) %>"
      class="tag <%= book.tagClass %>"
    >
      <%= book.category %>
    </a>
  </p>

</div>


            <p class="description">
              <strong>Résumé :</strong><br />
              <%= book.summary %>
            </p>

            <div class="actions">
            <form action="/library/add" method="POST">
            <input type="hidden" name="articleId" value="<%= book.id %>">
            <% if(locals.user?.isAuthenticated) { %>
            <button class="add-btn" type="submit">
                Ajouter à ma bibliothèque
            </button>
            <% } %>
        </form>

              <select class="status-select">
                <option value="">Status</option>
                <option>Déjà lu</option>
                <option>En cours</option>
                <option>À lire</option>
              </select>
            </div>
          </div>
        </article>
      </section>
    </main>

    <%- include('../partials/foot') %>