<%- include('../partials/head') %>


<link rel="stylesheet" href="/css/home.css" />

<main class="container">
<section class="blablabook">
    <h1 class="blablabook-title">BLABLABOOK</h1>
    <p class="blablabook-subtitle">à la découverte des livres</p>
</section>

<section class="selection">
    <h2>Notre sélection :</h2>

    <div class="books">
    <% books.forEach(article => { %>
    <article class="book-card">
        <a href="/books/<%= article.id %>"><h1 class="article__title"><%= article.title %></h1></a>
        <a class="cover" href="/books/<%= article.id %>">
        <img src="<%= article.coverUrl %>" alt="image du livre <%= article.title %>"></a>
        <div class="description"><%= ((article.summary || "").slice(0, 150)) %>...</div>
        <button class="add-btn">+ Ajouter à ma bibliothèque</button>
    </article>
    <% }) %>
    </div>
</section>
</main>

<%- include('../partials/foot') %>