<%- include('../partials/head') %>



<main class="container">
<section class="blablabook">
    <h1 class="blablabook-title">BLABLABOOK</h1>
    <p class="blablabook-subtitle">à la découverte des livres</p>
</section>

<section class="selection">
    <h2>Notre sélection du mois</h2>

    <div class="books">
    <% books.forEach(article => { %>
    <article class="book-card">
        <div class="title"><%= article.title %></div>
        <div class="cover"><img src="<%= article.coverUrl %>" alt=""></div>
        <div class="description"><%= ((article.summary || "").slice(0, 150)) %>...</div>
        <button class="add-btn">+ Ajouter à ma bibliothèque</button>
    </article>
    <% }) %>
    </div>
</section>
</main>

<%- include('../partials/foot') %>