<%- include('../partials/head') %>


  <link rel="stylesheet" href="/css/library.css" />
  
  <main class="page">
    <section class="search">
      <form class="search__form" method="GET" action="/books">
        <label class="search__label" for="search"></label>
        <input
          class="search__input"
          id="search"
          type="search"
          name="search"
          placeholder="Rechercher un livre..."
          value=""
        >
        <button class="search__button" type="submit">Rechercher</button>
      </form>
    </section>

    <section class="article-list">
      <header class="article-list__header">
        <span class="article-list__col">Couverture</span>
        <span class="article-list__col">Titre</span>
        <span class="article-list__col">Auteur</span>
        <span class="article-list__col">Status</span>
        <span class="article-list__col">Action</span>
      </header>
      <% books.forEach(article => { %>
      <article class="article">
        <a href="/books/<%= article.id %>"><img class="article__cover" src="<%= article.coverUrl %>" alt="couverture de <%= article.title %>"></a>
        <a href="/books/<%= article.id %>"><h1 class="article__title"><%= article.title %></h1></a>
        <a class="article__author" href="/books?author=<%=article.author %>"><%= article.author %>
</a>
        <select class="article__status">
          <option value="<%= article.status %>">status</option>
          <option>Déjà lu</option>
          <option>En cours</option>
          <option>A lire</option>
        </select>
        <div class="article__actions">
        <form action="/library/remove" method="POST">
            <input type="hidden" name="articleId" value="<%= article.id %>">
            <button class="article__button--remove" type="submit">
                Retirer
            </button>
        </form>
        </div>
      </article>
      <% }) %>

    </section>
  </main>

<%- include('../partials/foot') %>